<div class="container-xl">
    <hr>
    <div class="d-flex justify-content-center">
        <img class="img-fluid" src="/static/cover_mom.png" alt="Banner Image">

    </div>
    <hr>
<!-- Remove this section before deploying to production -->
    <h1>Welcome to the test of M.O.M. Blog!</h1>
    <p>
        This is a template test I am doing to help build out a blog website that I hope to launch in the next couple weeks. 
    </p>
    <hr>
<!-- Remove this section before deploying to production -->
    <div class="blog-section">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog1.jpg" alt="Blog 1 Image">
                    <h2>Blog 1 Title</h2>
                    <p>Short description of Blog 1</p>
                    <button type="button" class="btn btn-info" href="/blog1">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog2.jpg" alt="Blog 2 Image">
                    <h2>Blog 2 Title</h2>
                    <p>Short description of Blog 2</p>
                    <button type="button" class="btn btn-info" href="/blog2">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog3.jpg" alt="Blog 3 Image">
                    <h2>Blog 3 Title</h2>
                    <p>Short description of Blog 3</p>
                    <button type="button" class="btn btn-info" href="/blog3">Read more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog1.jpg" alt="Blog 1 Image">
                    <h2>Blog 1 Title</h2>
                    <p>Short description of Blog 1</p>
                    <button type="button" class="btn btn-info" href="/blog1">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog2.jpg" alt="Blog 2 Image">
                    <h2>Blog 2 Title</h2>
                    <p>Short description of Blog 2</p>
                    <button type="button" class="btn btn-info" href="/blog2">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-item">
                    <img class="img-thumbnail" src="blog3.jpg" alt="Blog 3 Image">
                    <h2>Blog 3 Title</h2>
                    <p>Short description of Blog 3</p>
                    <button type="button" class="btn btn-info" href="/blog3">Read more</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>